*{
	padding:0;
	margin:0;
}

body{
	background-color: #000;
}

.nav{
/*	float:right;*/
	margin-top: 10vh;
	position: fixed;
	right: 0;
	color: black;
	z-index: 9999999;
}


.info{
	padding-top:14px;
}

a{
	text-decoration: none;
	color: white;
	text-align: center;
	background-color: #000;
}

li{
	list-style: none;	
}

.nav-link{
	padding:20px 70px;
}

h1{
	color: white;
	font-size: 70px;
	font-family: 'Ubuntu', sans-serif;
}


h2{
	color: #8d8d8d;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 3px;
	font-family: 'Open Sans', sans-serif;
}

.name{
	padding-top: 20vh;
}

.project1,
.project2,
.project3{
	padding-top: 5vh;
	padding-bottom: 5vh;
	color: white;
	text-align: center;
}

.project{
	margin-top: 30vh;
	margin-right:15px; 
	margin-left:15px;
	font-size: 30px;
}


.project1:hover{
	color: #08fdd8;
}

.project2:hover{
	color: #08fdd8;
}

.project3:hover{
	color: #08fdd8;
}

.project:hover{
	color: #08fdd8;
}

a:hover{
	color: #08fdd8;
	transform: scale(1.1);
}

.a1{
	display: inline;
}

.aha{
	color: white;
}

.about{
	background-color: black;
	color: #f1f1f1;
	padding: 30px;
	padding-bottom: 200px;

}

h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
    line-height: 1.3125;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #cc147f;
    margin-top: 0;
    margin-bottom: 2.1rem;
}

h4{
	font-family: 'Domine', serif;
    font-size: 4rem;
    line-height: 1.3;
    letter-spacing: 0;
    color: white;
    letter-spacing: -0.03rem;
    margin-top: 0;
    margin-bottom: 2.8rem;
}


p{
    font-family: 'Metrophobic', sans-serif;
    font-size: 1.4rem;
   /* line-height: 1.75;*/
   /* margin-bottom: 3.6rem;*/
    color: rgba(85, 85, 85, 0.95);
}


.tools{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

/*.skillTools{
	border:1px solid white;
}*/

.autocad{
	height: 75px;
	width: 75px;
}



.icon{
	color: #000;
}

.last{
	color: white;
	padding-bottom: 100px;
	padding-top: 50px;
}



#contact{
	padding-top: 50px;
}


#skillinfo{
	padding-top: 50px;
}

.me{
	border-radius: 50%;
	text-align: center;
	border:5px solid white;
}


.caps{

	width: 400px;
	height: 250px;
}













/*media queries*/


/*Small devices*/
@media only screen and (max-width: 600px){ 
	h1{
		font-size: 50px;
		text-align: center;
		margin-top: 10px;
		letter-spacing: 5px;
	}

	h2{
		font-size: 15px;
		text-align: center;
	}
	.portfolio{
		font-size: 30px;
		letter-spacing: 2px;
		border: 1px solid white;
		padding: 15px 21%;
		text-align: center;

	}

	.project{
		margin-top: 3vh;
	}

	#icon{
		position: relative;
		top: -50px;
		left: -120px;
	}

	a:hover{
	color: #08fdd8;
	transform: scale(1);
	}

	.nav-link{
		padding:10px 100px;
	}

	.nav{
		float:right;
		margin-top: 5px;
		padding-left: 17px;
	}


	.col-12{
		text-align: center;
	}

	.navbar-brand {
		 margin-right: -1rem;
		}


	h4 {
    font-family: 'Domine', serif;
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: 0;
    color: white;
    letter-spacing: -0.03rem;
    margin-top: 0;
    margin-bottom: 2.8rem;
}

/*tablets*/
@media (min-width:601px) and (max-width: 769px){ 
	.project{
		margin-top: 3vh;
	}

	.nav-link{
		padding:20px 20px;
	}

}

/*Large devices*/
@media only screen and (max-width: 992px){
 }